       write a python function to check if a number is prime

In [120]:
n=(int(input("Enter the number:")))
a=0
for i in range(1,n+i):
    if n%i==0:
        a=a+1
if a==2:
    print("number is prime")
else:
    print("number is not prime")

Enter the number: 5

number is prime


      write a python function that returns the sum of elements in a list

In [94]:
l=[1,2,3,4,5]
sum=0
for i in l:
    print(i)
    sum +=i

1
2
3
4
5

     write a python program to count the number of words in a string

In [54]:
s="aimnxt","datascience"

In [57]:
s.count("aimnxt")

1

       write a python program using lambda function to find square of a number

In [96]:
n=int(input("enter the number:"))
[a*a]

enter the number: 4

[9]

     write a function to check wheather a given number is even or odd

In [70]:
def test1(*m):
    for i in m:
        if i%2==0:
            print("It is an even number")
        else:
            print("it is an odd number")

In [71]:
test1(1)

it is an odd number

      write a python program to calculate the sum of elements in alist using list comprehension

In [139]:
l=[2,3,4,5]
sum([i for i in l if type(i)==int])

TypeError: 'int' object is not callable

  write a function to reverse a string

In [97]:
s="aimnxt"

In [98]:
s

'aimnxt'

In [99]:
def test(s):
    return s[::-1]

In [100]:
test(s)

'txnmia'

        write a function that takes a list of numbers and returns a new list containing only the even numbers

In [101]:
l1=[]
for i in l:
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4]

     write a function that takes two strings and concatenates them

In [102]:
def test():
    s1="aimnxt"
    s2="datascience"
    return s1+s2

In [103]:
test()

'aimnxtdatascience'

     write a function that takes a string and returns both its uppercase and lowercase versions

In [104]:
s='datascience'

In [118]:
s.upper()

'DATASCIENCE'

In [106]:
s.lower()

'datascience'

      write a function to check if a  umber is prime or not

In [121]:
def test1():
    a=0
    for i in range(1,n+i):
        if n%i==0:
            a=a+1
            if a==2:
                print("number is prime")
        else:
            print("number is not prime")

In [122]:
test1(3)

TypeError: test1() takes 0 positional arguments but 1 was given

     write a python program to print all odd numbers from 1 to 50 using for loop and if statement

In [114]:
for i in range(1,49):
    if i % 2  !=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47

      write a functon to print takes a list of number and returns the sum of all even number

In [119]:
for i in range(1,100):
    if i%3==0 and i%5==0:
        print(i)

15
30
45
60
75
90

    write a function that accepts a number n and returns the fibonaccci series up to n terms

In [123]:
def fibonacci(n):
    a,b=0,1
    for i in range(n):
        print(a,end="     ")
        a,b= b,a+b

In [125]:
fibonacci(20)

0     1     1     2     3     5     8     13     21     34     55     89     144     233     377     610     987     1597     2584     4181

       write a function vowels in a string

In [128]:
def vowels(s):
    vowels="sri chakresh kokkiligadda"
    return[char for char in s if char in vowels]

In [127]:
vowels(s)

['d', 'a', 'a', 's', 'c', 'i', 'e', 'c', 'e']

    write a python [program to handle division by zero using by expert

In [129]:
a=int(input("enter the 1st value:"))
b=int(input("enter the 2nd value:"))
try:
    c=a/b
    print(c)
except ZeroDivisionError:
    print("b should not b is zero")

enter the 1st value: 6
enter the 2nd value: 7

0.8571428571428571

  write a python function that takes two numbers as argments and return the sum

In [130]:
a=4
b=5
a+b

9

      write a function to check weather a given number is odd or even

In [133]:
n=int(input("Enter the value"))
if a%2==0:
    print("even number")
else:
    print("odd number")

Enter the value 8

even number

    write a function that takes a number as input and returns a new list containing number

In [137]:
def test():
    a=60
    return a*a

In [138]:
test()

3600