Function to Add Two Numbers

def add(a, b)

In [1]:
def add(a,b):
    return a+b

In [2]:
add(6,9)

15

Function to Find Maximum of Three Numbers

def max_of_three(a, b, c):

In [3]:
def max_of_three(a,b,c):
    return max(a,b,c)

In [4]:
 max_of_three(2,6,8)

8

def is_prime(n):

In [7]:
def prime(n):
      if n%2==1:
        return True
      else:
        return False

In [8]:
prime(9)

True

Function to Calculate Factorial
def factorial(n):

In [9]:
def factorial(n):
    f = 1
    while n > 0:
        f = f * n
        n = n - 1
    return f

In [10]:
factorial(7)

5040

Function to Print Fibonacci Series up to N terms

def fibonacci(n)

In [11]:
def fibonacci(n):
    a, b = 0, 1
    count = 0
    while count < n:
        print(a, end=' ')
        a, b = b, a + b
        count += 1

In [12]:
fibonacci(3)

0 1 1

Function to Count Vowels in a String def count_vowels(s):

In [14]:
def countvowels(s):
    vowels="aeiou"

In [17]:
counvowels("chakresh")

NameError: name 'counvowels' is not defined

Write a function that takes two numbers and returns their sum.

In [18]:
def add(a,b):
    return a+b

In [20]:
add(1,2)

3

 Write a function that takes a string and returns it reversed.

In [25]:
def rev(str):
    str=("chakresh","datascience")
    return str[::-1]

In [26]:
rev(str)

('datascience', 'chakresh')

 Write a function that checks if a number is even or odd.

In [27]:
def even(a):
    if a%2==0:
         return"this is even num"
    else:
        return "this is add num"

In [28]:
even(4)

'this is even num'

Write a function that returns the factorial of a number.

In [29]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f = f * i
    return f

In [30]:
fact(8)

40320

Write a function that takes a list and returns the maximum element.

In [31]:
def test():
    l=[1,2,3,4,5,6,7]
    return max(l)

In [32]:
test()

7

Print numbers from 1 to 10 using a for loop

In [33]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

 Print each character in a string using a for loop.

In [34]:
str = "chakresh"
for i in str:
    print(i)

c
h
a
k
r
e
s
h

 Write a program that sums all numbers in a list using a for loop.

In [35]:
l=[1,2,3,4,5,6]
n=0
for i in l:
    n=n+i
print(n)

21

Print the multiplication table of a given number using a for loop.

In [36]:
n=8
for i in range(1,11):
    print(n,'x',i,'=',n*i)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Write a program that prints all even numbers from 1 to 50.

In [37]:
for i in range(1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

 Print numbers from 1 to 10 using a while loop.

In [38]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

Keep taking input from the user until they type "exit".

In [39]:
while True:
    user_input = input("Enter something (type 'exit' to stop): ")
    if user_input == "exit":
        print("exit")
        break

Enter something (type 'exit' to stop):  exit

exit

Write a program that finds the sum of digits of a number using a while loop.

In [40]:
n=111
sum=0
while n>0:
    digit=n%10
    sum=sum+digit
    n=n//10
print("sum of digit:",sum)

sum of digit: 3

Guess the number game: Keep asking the user until they guess the correct number

In [ ]:
number = 5  
guess = 0   # 

while guess != number:
    guess = int(input("Guess the number: "))

print("You guessed it right!")

 Print the Fibonacci sequence up to n terms using a while loop

In [1]:
n = 5
a = 0
b = 1
next = b  
count = 1

while count <= n:
    print(next, end=" ")
    count += 1
    a, b = b, next
    next = a + b
print()

1 2 3 5 8

 Write a function that takes variable number of arguments using *args and returns their sum.

In [2]:
def test(*args):
    return sum(args)

In [4]:
test(6,7,5,85)

103

Write a program that unpacks a list into separate variables using

In [5]:
nums = [1, 2, 3, 4, 5]
a, *b = nums 
print("a:", a)
print("b:", b)

a: 1
b: [2, 3, 4, 5]

Create a function that multiplies a number with itself n times using * (e.g., 2 * 3 = 6).

In [6]:
def mul(n,b):
    return a*b

In [7]:
mul(2,6)

6

In [8]:
def mul(n, times):
    result = 1
    for _ in range(times):
        result = result * n
    return result

In [10]:
mul(7,5)

16807

Use * to combine two lists into one:
a = [1, 2] b = [3, 4]

In [11]:
a = [1, 2]
b = [3, 4]
combined = [*a, *b]
print(combined)

[1, 2, 3, 4]

Write a function that checks whether a string is a palindrome.

In [13]:
def palin(word):
    if word == word[::-1]:
        return "the word is palindrome"
    else:
        return "not palindrome"
print(palin("madam"))

the word is palindrome

Write a function that returns the number of vowels in a given string.

In [15]:
def vow(text):
    vowels = "aeiou"
    count = 0
    for char in text.lower():
        if char in vowels:
            count += 1
    return count
print(vow("chakresh"))

2

Write a function that takes a list of numbers and returns only the even numbers.

In [16]:
l=[1,2,3,4,5,6,7,8]
def even(lst):
    l1=[]
    for i in l:
        if i%2==0:
            l1.append(i)
    return l1

In [17]:
even(l)

[2, 4, 6, 8]

Write a function that takes a string and returns the number of words in it.

In [18]:
def wor(text):
    words=text.split()
    return len(words)

In [21]:
wor("chakresh is datascientist")

3

Write a function that uses *args and prints all values line by line with their index

In [22]:
def test(*args):
    i=0
    for items in args:
        print(i ,":" ,items)
        i=i+1

In [23]:
test(1,2,3,4,5,["chakresh"])

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : ['chakresh']

Write a function that takes *args and returns their average.

In [24]:
def test2(*avrgs):
    return sum(avrgs)/len(avrgs)

In [25]:
test2(1,2,3,4,5,6)

3.5

Keep asking the user to enter a positive number. Stop when they enter a negative number.

In [ ]:
while True:
    num = int(input("Enter a positive number: "))
    if num < 0:
        print("Negative number entered. Stopping...")
        break

Write a program to reverse a number using a while loop

In [1]:
num = int(input("Enter a number: "))
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num = num // 10

print("Reversed number:", rev)

Enter a number:  5

Reversed number: 5

Find the first number divisible by both 3 and 5 greater than 100 using while.

In [2]:
n = 101

while True:
    if n % 3 == 0 and n % 5 == 0:
        print(" ", n)
        break
    n = n + 1

  105

Create a countdown timer using while, e.g., from 10 to 1.

In [3]:
count = 10
while count > 0:
    print(count)
    count -= 1
print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

Print all elements in a nested list.

In [5]:
nested = [[1, 2], [3, 4], [5]]
for sub in nested:
    for item in sub:
        print(item)

1
2
3
4
5

Count how many times each character appears in a string.

In [6]:
s = "hello"
counts = {}
for char in s:
    counts[char] = counts.get(char, 0) + 1
print(counts)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}