In [2]:
#create a string variable and print its length.
str = "This is chakresh"
print(str)
str_len = len(str)
print(str_len)

This is chakresh
16

In [4]:
#take a string input from the user and print it in reverse.
str = input("Enter a string: ")
print(str[::-1])

Enter a string:  hserkahc

chakresh

In [6]:
#Replace all occurrences of"a" with "@" in a given string.
str = input("Enter a string: ")
str = str.replace("a","@")
print(str)

Enter a string:  anaconda

@n@cond@

In [7]:
#convert a string to all upper case letters using a loop(without .upper()).
def to_uppercase(s):
    result= ""
    for char in s:
        if 'a' <= char <= 'z':
            upper_char = chr(ord(char) - 32)
            result += upper_char
        else:
            result += char
    return result
input_str = input("Enter a string: ")
output_str = to_uppercase(input_str)
print(output_str)

Enter a string:  this is chakresh

THIS IS CHAKRESH

In [8]:
#count how many times the letter "e" appears in a string.
str = "the quick brown fox jumps over the lazy dog."
char_to_find ="e"
count = str.count(char_to_find)
print(f"the character '{char_to_find}' appears {count}times in the string.")

the character 'e' appears 3times in the string.

In [9]:
# print the first and last character of a given string
str = input("Enter a string: ")
first_char = str[0]
last_char = str[-1]
print(f"First character: {first_char}")
print(f"Last character: {last_char}")

Enter a string:  datascience

First character: d
Last character: e

In [10]:
#concatenate two strings and print the result.
str1 = input("Enter a string: ")
str2 = input("Enter a string: ")
result = str1 + str2
print(result)

Enter a string:  aim
Enter a string:  nxt

aimnxt

In [13]:
#check if a given string contains the word "python".
str = input("Enter a string: ")
if "python" in str:
    print("The string contains the word 'python'.")
else:
    print("The string does not contain the word 'python'.")

Enter a string:  chakresh

The string does not contain the word 'python'.

In [14]:
#remove all spaces from a string and print the new string.
str = input("Enter a string: ")
str = str.replace(" ","")
print(str)

Enter a string:  chakresh

chakresh

In [17]:
#Extract and print the first five characters of the string.
str = input("Enter a string: ")
print(str[:5])

Enter a string:  matplolib

matpl

In [16]:
#create a list of five numbers and print the list.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [18]:
#print the third element of a given list.
list = [1,2,3,4,5]
print(list[2])

3

In [19]:
#Replace the second element of a list with "hello".
list = [1,2,3,4,5]
list[1] = "hello"
print(list)

[1, 'hello', 3, 4, 5]

In [20]:
#add a new element to the end of a list.
list = [1,2,3,4,5]
list.append(6)
print(list)

[1, 2, 3, 4, 5, 6]

In [21]:
#remove the last element from a list and print the modified list.
list = [1,2,3,4,5]
list.pop()
print(list)

[1, 2, 3, 4]

In [22]:
#Print each element of a list one by one using a loop.
list = [1,2,3,4,5]
for i in list:
    print(i)

1
2
3
4
5

In [24]:
#Check if the number 10 is in a given list.
list = [1,2,3,4,5]
if 10 in list:
    print("10 is in the list.")
else:
    print("10 is not in the list.")

10 is not in the list.

In [25]:
#.Create two lists and join them into one.
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
#Print a list in reverse order without using slicing ([::-1]).
list = [1,2,3,4,5]
list.reverse()
print(list)

[5, 4, 3, 2, 1]

In [27]:
#Sort a list in ascending order without using .sort().
list = [5,4,3,2,1]
for i in range(len(list)):
    for j in range(i+1,len(list)):
        if list[i] > list[j]:
            list[i],list[j] = list[j],list[i]
print(list)

[1, 2, 3, 4, 5]

In [28]:
#Create a tuple of three colors and print it.
tuple = ("red","green","blue")
print(tuple)

('red', 'green', 'blue')

In [29]:
#Print the second element of a given tuple.
tuple = ("red","green","blue")
print(tuple[1])

green

In [30]:
#Try changing an element in a tuple (observe the error).
tuple = ("red","green","blue")
tuple[1] = "yellow"

TypeError: 'tuple' object does not support item assignment

In [32]:
#Convert a tuple to a list and print it.
my_tuple = ("red", "green", "blue")
my_list = list(my_tuple)
print(my_list)

TypeError: 'list' object is not callable

In [33]:
#Check if "blue" exists in a given tuple.
my_tuple = ("red", "green", "blue")
if "blue" in my_tuple:
    print("blue exists in the tuple")
else:
    print("blue does not exist in the tuple")

blue exists in the tuple

In [34]:
#Print each element of a tuple using a loop.
my_tuple = ("red", "green", "blue")
for element in my_tuple:
    print(element)

red
green
blue

In [35]:
#Merge two tuples and print the result.
tuple1 = (1,2,3)
tuple2 = (4,5,6)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6)

In [36]:
#Print a tuple in reverse order.
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [37]:
#Find the length of a tuple without using len().
my_tuple = (1, 2, 3, 4, 5)
count = 0
for _ in my_tuple:
    count += 1
print(count)

5

In [38]:
#Create a tuple with a single element and print its type.
my_tuple = (1,)
print(type(my_tuple))

<class 'tuple'>

In [40]:
#Create a string "Hello, World!" and print only "World!".
str = "Hello, World!"
print(str[7:])

World!

In [41]:
#Convert "Python is fun" to "PYTHON IS FUN" without using .upper().
str = "Python is fun"
new_str = ""
for char in str:
    if 'a' <= char <= 'z':
        new_str += chr(ord(char) - 32)
    else:
        new_str += char
print(new_str)

PYTHON IS FUN

In [42]:
#Count how many words are in "I love learning Python" (without using .split()).
str = "I love learning Python"
count = 0
for char in str:
    if char == " ":
        count += 1
count += 1
print(count)

4

In [43]:
#Take a string input from the user and check if it starts with "Hello".
str = input("Enter a string: ")
if str.startswith("Hello"):
    print("The string starts with 'Hello'.")
else:
    print("The string does not start with 'Hello'.")

Enter a string:  world

The string does not start with 'Hello'.

In [45]:
#Print every second character of a string.
str = input("Enter a string: ")
print(str[::2])

Enter a string:  aimnxt

amx

In [46]:
#Replace all vowels in a string with "*".
str = input("Enter a string: ")
vowels = "aeiouAEIOU"
new_str = ""
for char in str:
    if char in vowels:
        new_str += "*"
    else:
        new_str += char
print(new_str)

Enter a string:  datascience

d*t*sc**nc*

In [47]:
#Swap the first and last character of a string.
str = input("Enter a string: ")
first_char = str[0]
last_char = str[-1]
middle_chars = str[1:-1]
new_str = last_char + middle_chars + first_char
print(new_str)

Enter a string:  chakresh

hhakresc

In [48]:
#Check if two given strings are the same (case-sensitive).
str1 = input("Enter a string: ")
str2 = input("Enter a string: ")
if str1 == str2:
    print("The strings are the same.")
else:
    print("The strings are not the same.")

Enter a string:  sree
Enter a string:  chakresh

The strings are not the same.

In [49]:
#Print a string without the first and last character.
str = input("Enter a string: ")
print(str[1:-1])

Enter a string:  visualization

isualizatio

In [50]:
#Convert a string "12345" into a list of individual characters.
str = "12345"
list = []
for char in str:
    list.append(char)
print(list)

['1', '2', '3', '4', '5']

In [51]:
#Create a list of five cities and print only the last three.
list = ["New York", "Los Angeles", "Chicago", "Houston", "Miami"]
print(list[-3:])

['Chicago', 'Houston', 'Miami']

In [52]:
#Remove the middle element from a list of five elements.
list = [1,2,3,4,5]
middle_index = len(list) // 2
del list[middle_index]
print(list)

[1, 2, 4, 5]

In [53]:
#Take five numbers from the user and store them in a list.
list = []
for i in range(5):
    num = int(input("Enter a number: "))
    list.append(num)
print(list)

Enter a number:  3
Enter a number:  4
Enter a number:  5
Enter a number:  7
Enter a number:  8

[3, 4, 5, 7, 8]

In [54]:
#Find the index of "apple" in the list ["banana", "orange", "apple", "grape"].
list = ["banana", "orange", "apple", "grape"]
index = list.index("apple")
print(index)

2

In [55]:
#Print only the even numbers from a given list.
list = [1,2,3,4,5,6,7,8,9,10]
for num in list:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [56]:
#Reverse a list by swapping elements (without [::-1]).
list = [1,2,3,4,5]
for i in range(len(list)//2):
    list[i],list[len(list)-i-1] = list[len(list)-i-1],list[i]
print(list)

[5, 4, 3, 2, 1]

In [57]:
#.Create a list of ten numbers and print only the unique elements.
list = [1,2,3,4,5,1,2,3,4,5]
unique_list = []
for num in list:
    if num not in unique_list:
        unique_list.append(num)
print(unique_list)

[1, 2, 3, 4, 5]

In [58]:
#Print the sum of all elements in a list (without using sum()).
list = [1,2,3,4,5]
sum = 0
for num in list:
    sum += num
print(sum)

15

In [59]:
#Move the first element of a list to the last position.
list = [1,2,3,4,5]
first_element = list.pop(0)
list.append(first_element)
print(list)

[2, 3, 4, 5, 1]

In [60]:
#.Create a list with mixed data types (int, float, string) and print each element with its type.
list = [1,2.0,"3"]
for element in list:
    print(element,type(element))

1 <class 'int'>
2.0 <class 'float'>
3 <class 'str'>

In [61]:
#Create a tuple of five numbers and print only the first three.
tuple = (13, 15, "yes", 16, "me")
tuple[:3:1]

(13, 15, 'yes')

In [62]:
#Print the last element of a tuple without using negative indexing.
tuple = (13, 15, "yes", 16, "me")
tuple[:-2:-1]

('me',)

In [63]:
#Convert a tuple (1, 2, 3, 4, 5) into a list and add a new number.
tuple = (1, 2, 3, 4, 5)
list = list(tuple)
print(list)

TypeError: 'list' object is not callable

In [64]:
#Extract the middle element from a tuple with an odd number of elements.
tuple = (1, 2, 3, 4,5)
middle_index = len(tuple) // 2
middle_element = tuple[middle_index]
print(middle_element)

3

In [65]:
#Check if two tuples (1, 2, 3) and (3, 2, 1) are the same.
tuple1 = (1, 2, 3)
tuple2 = (3, 2, 1)
if tuple1 == tuple2:
    print("The tuples are the same.")
else:
    print("The tuples are not the same.")

The tuples are not the same.

In [66]:
#Create a nested tuple and print an inner element.
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
inner_element = nested_tuple[1][2]
print(inner_element)

6

In [67]:
#.Merge three tuples into one.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = (7, 8, 9)
merged_tuple = tuple1 + tuple2 + tuple3
print(merged_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [68]:
#Find the index of 5 in the tuple (1, 3, 5, 7, 9).
my_tuple = (1, 3, 5, 7, 9)
index = my_tuple.index(5)
print(index)

2

In [69]:
#Unpack a tuple into separate variables
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a, b, c)

1 2 3